{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular puples in the world</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h2>Welcome to our cinema!</h2>
<div class="movie-container">
    {% for q in movie %}
    <div class="movie-card">
        <img src="{{ q.image.url }}" alt="{{ q.name }}">
        <div class="movie-title">{{ q.name }}</div>
        <div class="movie-year">Year: {{ q.year }}</div>
        <div class="movie-description">{{ q.description }}</div>
        <div class="movie-date">Release Date: {{ q.date }}</div>
    </div>
    {% endfor %}
</div>
</body>
</html>